<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <p>
            <ul class="white-text text-ligthen-4">
              <li><i class="mdi-action-account-circle"> NKU Startup Community</i></li>
              <li><i class="mdi-communication-email"> info@BuildMyCollegeFund.com</i></li>
              <li><i class="mdi-action-home"> BuildMyCollegeFund@meteor.com</i></li>
            </ul>
          </p>
        </div>
        <!-- <div class="col l4 s12">
          <p>
            <ul class="white-text text-ligthen-4">
              <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home">Home</a></li>
              <li class="{{ isActiveRoute regex='contactUs' }}"><a href="{{ pathFor 'home' }}" title="Contact Us">Contact Us</a></li>
            </ul>
          </p>
        </div> -->
        <!-- <div class="col l4 s12">
          <p>
            <ul>
              <li><a href="{{ pathFor 'IsA529PlanForMe' }}">Is a 529 Plan for Me?</a></li>
              <li><a href="{{ pathFor 'findMy529Plan' }}">Find My 529 Plan</a></li>
              <li><a href="{{ pathFor 'theCostOfWaiting' }}">The Cost of Waiting</a></li>
              <li><a href="{{ pathFor 'localResources' }}">Local Resources</a></li>
            </ul>
          </p>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Build My College Fund
      </div>
    </div>
  </footer>
</template>
