<template name="_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'home'}}">Build My College Fund</a>

        <ul class="right hide-on-med-and-down">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home">Home</a></li>
          <li class="{{ isActiveRoute regex='contactUs' }}"><a href="{{ pathFor 'home' }}" title="Contact Us">Contact Us</a></li>
          <li><a class="dropdown-button" href="#!" data-hover="true" data-activates="user-dropdown">Learn More</a></li>
        </ul>

        <ul id="user-dropdown" class="dropdown-content">
          <li><a href="{{ pathFor 'IsA529PlanForMe' }}">Is a 529 Plan for Me?</a></li>
          <li><a href="{{ pathFor 'findMy529Plan' }}">Find My 529 Plan</a></li>
          <li><a href="{{ pathFor 'findMy529Plan' }}">The Cost of Waiting</a></li>
          <li><a href="{{ pathFor 'findMy529Plan' }}">Local Resources</a></li>
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>

  <!-- <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i> Home</a></li>
    <li class="bold {{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="Dashboard"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
  </ul> -->

</template>
