.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
  background-color: #26a69a;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

ul li a {
  color: #fff;
}

footer.page-footer {
  background-color: #26a69a;
}
