<template name="IsA529PlanForMe">
  <div class="template-IsA529PlanForMe">
    <div class="container">
      <h1>Is a 529 Plan for Me?</h1>
      <div class="row">
        <form class="col l6 offset-l3">
          <div class="card">
            <div class="card-content teal-text text-lighten-1">
              <div class="row">
                <div class="col l12 offset-l1">
                  <h4 class="teal-text text-lighten-1">Find My Plan...</h4>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l10 offset-l1">
                  <input id="children" type="number" min="1" max="20"/>
                  <label for="children" class="teal-text text-lighten-1">Number of Children in Household</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l4 offset-l1">
                  <input id="children1" type="number" min="1" max="20"/>
                  <label for="children1" class="teal-text text-lighten-1">First Child's Age</label>
                </div>
                <div class="input-field col l4 offset-l1">
                  <input id="children2" type="number" min="1" max="20"/>
                  <label for="children2" class="teal-text text-lighten-1">Second Child's Age</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l4 offset-l1">
                  <input id="children3" type="number" min="1" max="20"/>
                  <label for="children3" class="teal-text text-lighten-1">Third Child's Age</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l10 offset-l1">
                  <select>
                    <option value="" disabled selected></option>
                    <option value="1">&lt; $25,000</option>
                    <option value="2">$25,000 to $40,000</option>
                    <option value="3">$40,001 to $55,000</option>
                    <option value="4">$55,001 to $70,000</option>
                    <option value="5">$70,001 to $85,000</option>
                    <option value="6">$85,001 to $100,000</option>
                    <option value="7">&gt; $100,000</option>
                  </select>
                  <label class="teal-text text-lighten-1">Household Income</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l10 offset-l1">
                  <select>
                    <option value="" disabled selected></option>
                    <option value="1">Alabama</option>
                    <option value="2">Alaska</option>
                    <option value="3">Arizona</option>
                    <option value="4">Arkansas</option>
                    <option value="5">California</option>
                    <option value="6">Colorado</option>
                    <option value="7">Connecticut</option>
                    <option value="8">Delaware</option>
                    <option value="9">Florida</option>
                    <option value="10">Georgia</option>
                    <option value="11">Hawaii</option>
                    <option value="12">Idaho</option>
                    <option value="13">Illinois</option>
                    <option value="14">Indiana</option>
                    <option value="15">Iowa</option>
                    <option value="16">Kansas</option>
                    <option value="17">Kentucky</option>
                    <option value="18">Louisiana</option>
                    <option value="19">Maine</option>
                    <option value="20">Maryland</option>
                    <option value="21">Massachusetts</option>
                  </select>
                  <label class="teal-text text-lighten-1">State of Residence</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l10 offset-l1">
                  <input id="moneySaved" type="text"/>
                  <label for="moneySaved" class="teal-text text-lighten-1">College Savings to Date ($)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l10 offset-l1">
                  <label class="teal-text text-lighten-1">Investment Strategy</label>
                  <br>
                  <p>
                    <input id="conservative" type="checkbox"/>
                    <label for="conservative" class="teal-text text-lighten-1">Conservative</label>
                  </p>
                  <p>
                    <input id="modConservative" type="checkbox"/>
                    <label for="modConservative" class="teal-text text-lighten-1">Moderately Conservative</label>
                  </p>
                  <p>
                    <input id="moderate" type="checkbox"/>
                    <label for="moderate" class="teal-text text-lighten-1">Moderate</label>
                  </p>
                  <p>
                    <input id="moderatelyAggressive" type="checkbox"/>
                    <label for="moderatelyAggressive" class="teal-text text-lighten-1">Moderately Aggressive</label>
                  </p>
                  <p>
                    <input id="aggressive" type="checkbox"/>
                    <label for="aggressive" class="teal-text text-lighten-1">Aggressive</label>
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a class="waves-effect waves-light btn right"><i class="mdi-content-send right"></i>Submit</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
